* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


// nav
.logo {
    div {
        width: 15vw;
        height: 15vh;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #ffff;
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.37);

    nav {
        div {
            margin-top: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .container-navbar {
                ul {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-left: 6vw;
                        color: #000000;
                        font-size: 3vh;
                        cursor: pointer;
                    }

                    .logo {
                        margin-left: auto;
                    }
                }
            }

            .carrito {
                margin-right: 2vw;
                text-align: center;
                cursor: pointer;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// img principio pag

.container_suplementos-background {
    background-image: url(https://suplementosasuncion.com.py/cdn/shop/files/6_f30c6431-1de2-4a31-9169-6b7ffa8b2de4.png?v=1698086296&width=3840);
    opacity: .5;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85vh;
    position: relative;

    h1 {
        position: absolute;
        top: 6%;
        left: 4%;
        font-size: 8vh;
    }
}

//catalogo 

#destacados {
    // background-image: url(/img/fondo\ verde\ 2.jpg);
    background-size: cover;
    background-position: center;

    h2 {
        text-align: center;
        font-size: 4vw;
        margin-top: 5vh;
    }
}



#products-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product {
        margin-bottom: 2vh;
        background-color: white;
        width: 25vw;
        border-radius: 10px;



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            font-size: 2vw;
            margin-bottom: .5vh;
        }

        span {
            font-size: 1.3vw;
        }

        h4 {
            font-size: 1.3vw;
        }

        .add-chart {
            padding: 1vh 1vw 1vh 1vw;
            height: 4vh;
            background-color: #88d30f;
            font-weight: 700;
            border-radius: 7px;
            border: 1.5px solid #000000;
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: #9cee17;

            }
        }

    }
}


#modal-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 99;
    transition: all .7s;
    animation: carritoEntrance .7s ease 0s 1 normal forwards;
}

@keyframes carritoEntrance {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

.modal-header {
    padding: 4vh;
    background-color: #88d30f;
    color: #000000;
    text-align: center;
    position: sticky;
    top: 0;
}

.modal-header-title {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-cruz {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
}

.modal-content {
    padding: 1.5vh;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1vh;
    }

    p {
        font-size: 2.3vh;
        padding: 2vh;
    }

    h3 {
        flex-grow: 1;
        padding: 2vh;
        font-size: 2.5vh;
    }

    .btn_eliminar-producto {
        margin: auto;
        background-color: #88d30f;
        color: #fff;
        border: none;
        padding: 1vh 2vw;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 7px;

        &:hover {
            background-color: #6b9b1a;
        }
    }
}

.carrito-vacio {
    padding-top: 2vh;
    font-size: 4vh;
    text-align: center;
}

.modal-footer {
    padding-top: 1vh;
    font-weight: bold;
    border-top: 1px solid #ccc;
    background-color: #88d30f;
    text-align: center;
    position: sticky;
    z-index: 999;
    bottom: 0;
}

.carrito_total-compra {
    color: #413f3f;
    font-size: 3vh;
    border-bottom: 2px solid #ccc;
}

#checkout {
    font-size: 2vw;
    justify-content: center;
    padding: 1vh;
    font-weight: 400;
    cursor: pointer;

    &:hover {

        font-weight: bolder;
    }
}

#carrito {
    cursor: pointer;
}



//alerta contacto asincronica SPAM

.alerta-contacto_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999999999999999999;
    width: 40vw;
    height: 50vh;
    background-color: rgb(168, 27, 27);
    display: flex;

    .alerta-contacto_title {
        width: 18vw;
        display: flex;
        overflow: hidden;
        border: #000000 1px solid;

        flex-direction: column;

        h4 {
            font-size: 12vh;
            overflow: hidden;
        }
    }

    .alerta-contacto-redes {
        width: 22vw;

        .alerta-contacto-redes_container {
            margin: 2vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            div {
                margin-bottom: 3vh;
                .social-media_logo{
                    width: 3vw;
                }
            }
        }
    }

    #alerta-cruz {
        width: 2vw;
        position: absolute;
        top: 2%;
        left: 93%;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}






//celular
@media only screen and (max-width: 600px) {
    #modal-container {
        width: 100%;
        max-width: none;
    }
}